.moviescardlist__container {
    display: grid;
}

.moviescardlist__button {
   margin: 0;
   padding: 0;
   width: 320px;
   height: 36px;
}

.moviescardlist__button_hidden {
    visibility: hidden;
}