.profile {

}

.profile__greeting {
    margin: 0;
    padding: 40px 0 40px;
    text-align: center;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 500;
}

@media screen and (max-width: 490px) {
    .profile__greeting {
        padding: 50px 0 80px;
    }
}

.profile__link {
    margin: 0 auto;
    padding: 0;
    color: #EE3465;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
}
