.greeting__container {
    margin: 0 auto;
    padding: 70px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 396px;
}

@media screen and (max-width: 768px) {
    .greeting__container {
        padding: 232px;
    }
}

@media screen and (max-width: 490px) {
    .greeting__container {
        align-items: center;
        width: 260px;
        padding: 56px 0 0;
    }
}

.greeting__logo {
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
}

.greeting__text {
    margin: 0;
    padding: 40px 0 40px;
    text-align: left;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 500;
}

@media screen and (max-width: 490px) {
    .greeting__text {
        padding: 50px 0 80px;
    }
}