.searchform {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 70px 10px;
}

.searchform__container {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    width:
        100%;
}

.searchform__input {}


.searchform__button {
    background-image: url(../../images/find.svg);
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in 0s;
    border: none;
    background-color: #202020;
    display: flex;
}


.searchform__button:hover {
    opacity: 0.7;
    cursor: pointer;
}


.searchform__underline {}