.tumbler__container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .tumbler__container {
        gap: 13px
    }
}

.tumbler__button {
    width: 36px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in 0s;
    display: flex;

}

.tumbler__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.tumbler__button_on {
    background: #3DDC84;
}

.tumbler__button_off {
    background: #EBEBEB;
}


.tumbler__icon_on {
    position: absolute;
    top: 30%;
    left: 60%;
}

.tumbler__icon_off {
    position: absolute;
    top: 30%;
    right: 60%;
}

.tumbler__name {
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #FFF;
}

@media screen and (max-width: 320px) {
    .tumbler__name {
        font-size: 11px;
        line-height: 1.64;
    }
}